<div ng-class="{'active-node':vm.isActive}" class="{{vm.nodeClass}}" ng-mouseenter="vm.whenMouseEnter()" ng-mouseleave="vm.whenMouseLeave()" ng-click="vm.makeNodeActive()">
    <div layout="column" layout-align="center center">
        <div class="md-subhead">Some Text</div>
        <div>
            <div class=""><img ng-src="assets/images/avatars/flasher.thumb.jpg" class="round-chip"></div>
        </div>
        <div class="md-subhead">{{vm.node.name}}</div>
        <div layout-align="center center" layout-fill class="action-area" layout="row" ng-show="vm.isExpandedView">
            <div ng-repeat="action in vm.nodeActions"><button ng-click="vm.makeCallBack(action.callBack)"><span ng-bind="action.name"></span>&nbsp;<i class="{{action.icon}}"></i></button></div>
        </div>
    </div>

</div>
