<div ng-class="{'active-node':vm.isActive}" class="{{vm.nodeClass}}" ng-mouseenter="vm.whenMouseEnter()"
     ng-mouseleave="vm.whenMouseLeave()" ng-click="vm.makeNodeActive()">
    <div layout="column" layout-align="center center">
        <div class="md-subhead node-text-main">CEO</div>
        <div>
            <div class="round-chip-wrapper"><img ng-src="assets/images/avatars/flasher.thumb.jpg" class="round-chip">
            </div>
        </div>
        <div class="md-subhead node-text-sub">{{vm.node.name}}</div>
        <div layout-align="center center" layout-fill layout="row">
            <div ng-repeat="action in vm.nodeActions">
                <button ng-click="vm.makeCallBack(action.callBack)" class="action-btn"><span></span>&nbsp;<i
                        class="{{action.icon}}"></i></button>
            </div>
        </div>
    </div>
</div>