@import "../scss/colors";

.round-chip-wrapper {
/*  top: -38px;
  left: 84px;
  position: fixed;*/
  margin-top:-150%;
}

img.round-chip {
  background-color: #e2fff3;
  display: inline-block;
  border-radius: 50%;
  width: 76px;
  height: 76px;
  text-align: center;
  margin-left: 5px;
}

.node-label {
  outline: none;
  border-radius: 2px;
  width: 240px;
  height: 146px;
  font-size: 12px;
  padding: 3px 0px;
  display: inline-block;
  word-wrap: break-word;
  background: $white-color;
  border-bottom: 1px solid transparent;
  box-shadow: 0 4px 2px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  cursor: pointer;
}

.node-label:hover {
  //border: 1px solid dodgerblue;
}

.active-node {
  border: 2px dotted crimson;
}

path.link {
  fill: none;
  stroke: #3faac2;
  stroke-width: 1.5px;
}

.action-area {
  button {
    background-color: $whitesmoke-color; /* Green background */
    //border: 1px solid $blue-color; /* Green border */
    border: none;
    font-weight: 500;
    color: $blue-color; /* White text */
    //padding: 1px 2px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }

  button:not(:last-child) {
    border-right: none;
  }

  button:hover {
    background-color: $deep-light-blue-color;
  }
}

.action-area:after {
  content: "";
  clear: both;
  display: table;
}

.node-text-main {
  color: $gray-color;
  font-size: large; //TODO
  text-transform: uppercase;
  margin-top: 48px;
}

.node-text-sub {
  color: $light-gray-color;
  font-size: small; //TODO
  text-transform: capitalize;
}

.action-btn {
  background-color: #eeeaea; /* Gray */
  border: none;
  color: #0380af;
  //padding: 20px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 57px;
  height: 50px;
}

.action-btn:hover {
  background-color: #c8dbe8;
}

.node-text-main-no-image{
  margin-top:28px !important;
}

.node-text-sub-no-image{
  margin-bottom:20px !important;
}
